day01/target
day01/Cargo.toml
day01/Cargo.lock
day02/target
day02/Cargo.toml
day02/Cargo.lock
day03/target
day03/Cargo.toml
day03/Cargo.lock
day04/target
day04/Cargo.toml
day04/Cargo.lock
day05/target
day05/Cargo.toml
day05/Cargo.lock
day06/target
day06/Cargo.toml
day06/Cargo.lock
day07/target
day07/Cargo.toml
day07/Cargo.lock
day08/target
day08/Cargo.toml
day08/Cargo.lock